body {
    background-color: rgb(188, 204, 204);
}
header {
    grid-area: header;
    background-color: rgb(51, 54, 54)
}
menu {
    grid-area: menu;
    background-color: rgb(188, 204, 204);
    padding-left: 1rem;
   
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    color: white;
    background-color: rgb(51, 54, 54)
    
    
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    'header header'
    'menu main'
    'footer footer';
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    color: rgb(96, 94, 98);
    line-height: 1.5;
}
li {
    list-style: none;
    font-family: 'Bebas Neue';
   /* confirmar unidad de medida*/
}
img {
    width: 300px;
    height: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
}
.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
h1 {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    font-family: 'Bebas Neue';
    
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 5px rgb(228, 228, 228);;
    gap: 5px; 
    font-family: 'Bebas Neue';
    text-align: center;
    color: rgb(96, 94, 98);
    letter-spacing: 1px;
    background-color: rgb(228, 228, 228);
}
button {
    background-color: rgb(40, 183, 250);
    color: white;
    font-family: 'Bebas Neue';
    padding: 3px;
}



